body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.top-padding {
    padding-top: 16px;
}

/* Sidebar Section */
.sidebar {
    background-color: #1A92D5;
    grid-area: 1 / 1 / 6 / 2;

    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    gap: 48px;

    padding-left: 48px;

    z-index: 2;
}

.sidebar .section {
    display: flex;
    flex-direction: column;
}

.sidebar .item:hover {
    color: #E2E8F0;
    transform: scale(1.2);
}

/* Header Section */
.header {
    background-color: #fff;
    grid-area: 1 / 2 / 2 / 6;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;

    padding: 16px 80px 16px 48px;

    z-index: 1;

    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .15);
}

.header > div {
    display: flex;
}

.header .search {
    grid-area: 1 / 1 / 2 / 4;
}

.header .search > p {
    flex: 1;
}

.search-bar {
    background-color: #E2E8F0;
    flex: 10;
    border-radius: 15px;
}

.header .profile {
    grid-area: 1 / 4 / 2 / 6;

    font-weight: 600;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.profile .image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #1A92D5;
    flex-shrink: 0;
}

.header .intro {
    grid-area: 2 / 1 / 4 / 4;

    display: flex;
    align-items: center;
    gap: 1rem;

    font-weight: 600;
}

.intro .image {
    width: 4rem;
    height: 4rem;
    background-color: #1A92D5;
    border-radius: 50%;

    flex-shrink: 0;
}

.header .buttons {
    grid-area: 2 / 4 / 4 / 6;

    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons > li {
    background-color: #1A92D5;
    color: #fff;
    font-weight: 800;

    width: 100px;
    height: 32px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main-Content Section */
.main-content {
    background-color: #E2E8F0;
    grid-area: 2 / 2 / 6 / 6;
}