body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.top-padding {
    padding-top: 24px;
}

/* Sidebar Section */
.sidebar {
    background-color: #1A92D5;
    grid-area: 1 / 1 / 6 / 2;

    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    gap: 48px;

    padding-left: 48px;
}

.sidebar .section {
    display: flex;
    flex-direction: column;
}

.sidebar .item:hover {
    color: #E2E8F0;
    transform: scale(1.2);
}

/* Header Section */
.header {
    background-color: #fff;
    grid-area: 1 / 2 / 2 / 5;
}

/* Main-Content Section */
.main-content {
    background-color: #E2E8F0;
    grid-area: 2 / 2 / 6 / 5;
}